.App {
  text-align: center;
}
.divContainter {
  display: flex;
  justify-content: space-around;
}
.mainDisplay{
  background-color: pink;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 300px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.App-link {
  color: #61dafb;
}


